.link{
  text-decoration: none;
}

.navbar-nav .nav-item{
  margin-right: 15px;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0px;
}

.select{
  margin-left: 14px;
  margin-bottom: 10px;
}

.currency-table{
  width: 70%;
}

.block{
  display: flex;
  justify-content: space-around;
}